
.clients-sec{
    background-image: url(/assets/clients-bg.jpeg);
    background-position: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
 }
 
 .carousel{

  height: 100%;
  display: flex;
  align-items: center;
 }

 .slogan div{
   width: 100%;
   display: flex;
   align-items: center;
 }
 
 .slogan{
   background-color:#2578AC;
   height: 8.5rem;
   width: 100%;
   display: flex;
   align-items: center;
 }
 
 .slogan > div{
   background-color:#F0E4D6;
   height: 6.3rem;
 }
 .slogan > div > div{
   background-color:#C0382B;
   height: 5.7rem;
   justify-content: center;
 }
 .slogan > div > div > p{
   font-family: 'Anton';
   font-size: 90px;
   
 }


 

@media(max-width:768px){

  .slogan > div > div > p{
    font-size: 75px;
  }

  
}

@media(max-width:425px){

  .slogan > div > div > p{
    font-size: 43px;
  }
  .slogan > div > div > p{
   font-size: 43px;
  }
  
}

@media(max-width:375px){
  .slogan > div > div > p{
    font-size: 35px;
  }
   
 .slogan{
  height: 7.2rem;
}

.slogan > div{
  height: 5.3rem;
}
.slogan > div > div{
  height: 4.5rem;
}


}

@media(max-width:320px){
  .slogan > div > div > p{
    font-size: 30px;
  }
  .clients-sec{
    height: 70vh;
  }
}