.services-sec{
    background-image: url(../../assets/6bcc1e0f-b9d7-4801-8a36-68b09a63f4e0.jpg);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    gap: 3rem;
  }
  
  .services-title{
    display: flex;
    padding-top: 5rem;
    align-items: center;
    
  }
  .services-title > img{
    width: 11rem;
  }
  .services-title > h1{
    color: black;
    font-size:100px;
  }
  .services{
    display: flex;
    justify-content: center;
    width: 100%;
    gap:  15%;
    
  }
  .services > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .services > div > div > div{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: -60px;
  }
  
  
  .services > div > div > img{
    width: 11rem;
  }
  
  .service-type > p{
    font-family: 'Anton';
    font-size: larger;
  
  }
  .service-type{
    width: 11rem;
  }
  .cabelo{
    background-color: #3595cc;
    border: 5px solid #C0382B;
  }
  .barba{
    background-color: #C0382B;
    border: 5px solid #3595cc;
  }

  .services-list > p{
    
    font-size: 30px;
  }
  .services-list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 3rem;
  }


  @media(max-width:1024px){

    .services-title>h1{
      font-size: 80px;
    }
  
    .services-title>img{
      width: 8rem;
    }
    .services{
      flex-direction: column;
      width: 25rem;
    }
    
  }
  
  
  @media(max-width:768px){
  
    .services-title>h1{
      font-size: 60px;
    }
    .services-title>img{
      width: 6rem;
    }
  
  }
  
  @media(max-width:425px){
    .services-title{
      padding-top: 3rem;
    }
    .services-title>h1{
      font-size: 36px;
    }
    .services-title>img{
      width: 3rem;
    }
  
    .services > div > div > img{
      width: 9rem;
    }
    
    .service-type > p{
      font-family: 'Anton';
      font-size: 20px;
    
    }
    .service-type{
      width: 9rem;
    }
    .services > div > div > div{
      padding: 10px;
      border-radius: 10px;
    }
    .services-list{
      gap: 3rem;
      border-radius: 10px;
      padding: 2rem;
      width: 10rem;
      margin-bottom: 2rem;
    }
    .services-list > p{
      font-size: 16px;
    }
   
  }