
section{
  width: 100%;
}

.division{
  background-color: #C0382B;
  width: 100%;
  height: 1.5rem;
}
.division > div{
  background-color: #2578AC;
  width: 100%;
  height: 0.5rem;
  position: relative;
  top: 50px;
}
