
.header{
  background-color: #31617F;
  width: 100%;
  height: 165px;
  display: flex;
  align-items: center;
}
.header > div{
  background-color: #AC3B30;
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;

}
.header > div > div{
  background-color: #F0E4D6;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center; 
}
.header > div > div > div{
  background-color: #31617F;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center; 
}
.header > div > div > div> div{
  background-color: #F0E4D6;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center; 
}
.header > div > div > div > div > div{
  background-color: #AC3B30;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center; 
}

.header-content{
  display: flex;
  justify-content: space-between;
  padding: 0rem 5%;
}

.logo{
  width: 14rem;
  height: 7rem;
  position: relative;
  top: 1.5em;
  border-radius: 80px;

  background-image:url(.\assets\OGBU7G0.jpg);
  background-size: 100%;
  background-position: 50% 50% ;
}

.nav{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

section{
  width: 100%;
}

.scheduling-sec{
  height: 31rem;
  background-image: url(.\assets\56e830e3-0dfa-43e5-8978-54f239dddade.jpg);
  z-index: 1;
  background-position: 50% 50% ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scheduling-area{
  background-color: #C0382B;
  height: 16rem;
  width: 35rem;
  border-radius: 25px;
  display: flex;
  justify-content: end;

 }
.scheduling-area > div{
  background-color: #2578AC;
  height: 14rem;
  width: 32rem;
  margin: 0.4rem; 
  border-radius: 25px;

}
.scheduling-area > div > p{
  font-family: 'Anton';
  font-size: 55px;
  margin: 1.5rem;
}

.scheduling-area > div > a{
  background-color: #C0382B;
  color:#ffffff;
  margin: 1.5rem;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 35px;
}
.scheduling-area > div > a:hover{
  background-color:#ffffff;
  color: #C0382B;
  transition: 0.5s;
}


.barber{
  width: 14rem;
  height: 22.5rem;
}

.barber img{
  width: 13rem;
  position: relative;
  top: -41.5rem;
  right: -0.5rem;
}
.red{
  background-color: #C0382B;
  position: relative;
  left: 4rem;
  width: 10rem;
  height: 21.5rem;
  border-radius: 10px;
}
.blue{
    background-color:#2578AC;
    position: relative;
    top: -21rem;
    width: 10rem;
    height: 21.5rem;
    border-radius: 10px;
}

.division{
  background-color: #C0382B;
  width: 100%;
  height: 1.5rem;
}
.division > div{
  background-color: #2578AC;
  width: 100%;
  height: 0.5rem;
  position: relative;
  top: 50px;
}

.services-sec{
  background-image: url(assets/6bcc1e0f-b9d7-4801-8a36-68b09a63f4e0.jpg);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
  gap: 3rem;
}

.services-title{
  display: flex;
  padding-top: 5rem;
  align-items: center;
  
}
.services-title > img{
  width: 11rem;
}
.services-title > h1{
  color: black;
  font-size:100px;
}
.services{
  display: flex;
  justify-content: center;
  width: 100%;
  gap:  15%;
}
.services > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services > div > div > div{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: -60px;
}


.services > div > div > img{
  width: 11rem;
}

.services > div > div > div > p{
  font-family: 'Anton';
  font-size: larger;
}
.service-type{
  width: 11rem;
}
.cabelo{
  background-color: #3a9fdd;
}
.barba{
  background-color: #C0382B;
}

.services-list > p{
  color: black;
  font-family: "Anonymous Pro", monospace;
  padding-bottom: 3rem;
}

.clients-sec{
   background-image: url(assets/SL-072520-32870-33_1_.jpeg);
}

.slogan div{
  width: 100%;
  display: flex;
  align-items: center;
}

.slogan{
  background-color:#2578AC;
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.slogan > div{
  background-color:#F0E4D6;
  height: 6.3rem;
}
.slogan > div > div{
  background-color:#C0382B;
  height: 5.7rem;
  justify-content: center;
}
.slogan > div > div > p{
  font-family: 'Anton';
  font-size: 90px;
  
}