

*{
  margin: 0px;
  padding: 0px;
  font-family:'Antonio',Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-repeat: no-repeat;
  background-size: cover; 
  box-sizing: border-box;
}
body{
  background-color:#F0E4D6 ;
}

